/*#date-form #month-input, #date-form #day-input {
  width: 55px; }*/

/*Dashboard*/
body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
  margin-left: 240px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pimg1, .pimg2 {
 position: relative;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat; 
 background-attachment: fixed;
}

@media(max-width:568px){
  .pimg1, .pimg2{
    background-attachment: scroll;
  }

}

.pimg1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNL102A7wO0uSQxdxk5mwvJOh3neYkz0D_glGZ740vRzNq3o_erA");
 min-height: 400px;
}

.pimg2 {
  background-image: url("https://images.pexels.com/photos/2154/sky-lights-space-dark.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 400px;
}

.ptext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 35px;
  letter-spacing: 8px;
  background: transparent;
  text-transform: uppercase;
}

#map {
  height: 425px;
  width: 40%;
  margin-left: 740px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
  text-align: center;
}


/*Landing html*/
.container-fluid {
  background-image: url("https://cdn.images.express.co.uk/img/dynamic/78/590x/space-913877.jpg");
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: scroll;
 }
.location-btn {
  position: relative;
  
}