/*#date-form #month-input, #date-form #day-input {
  width: 55px; }*/


body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.menu ul {
  list-style-type: none;
  margin: 20px;
  padding: 20px; 
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}

.menu li:hover {
  background-color: #0099cc; 
}

.pimg1, .pimg2 {
 position: relative;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat; 
 background-attachment: fixed;
}
@media(max-width:568px){
  .pimg1, .pimg2{
    background-attachment: scroll;
  }

}

.pimg1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNL102A7wO0uSQxdxk5mwvJOh3neYkz0D_glGZ740vRzNq3o_erA");
  min-height: 400px;
}

.pimg2 {
  background-image: url("https://images.pexels.com/photos/2154/sky-lights-space-dark.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  min-height: 400px;
}

.ptext {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 35px;
  letter-spacing: 8px;
  background: transparent;
  text-transform: uppercase;
}
#map {
  height: 425px;
}
#content-container {
  height: 400px;
  width: 90%;
  padding: 10px;
  border: 5px solid gray;
  margin: 2px;
  margin-bottom: 10px;
}
p {
  position: relative;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
  text-align: center;
}


/*.header {
  text-align: center; 
  color: #666;
}*/

/* .jumbotron{ 
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1P2l2sTv4SG1uqy5PH7p_sk04y5niecWcNMzgU76TWcGKt_V5");
  background-size: 100% 200px;
	background-repeat: no-repeat;
*/